@model IEnumerable<casa_codigo_cursos.Models.Curso>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagenUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagenUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CursoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CursoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CursoId">Delete</a> |
                <form asp-controller="Inscripciones" asp-action="Inscribirse" method="post" style="display:inline">
                    <input type="hidden" name="cursoId" value="@item.CursoId" />
                    <button type="submit" class="btn btn-primary btn-sm">Inscribirse</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
